- if conversations.empty?
  .ap-top-space
    .alert.alert-info
      There are no conversations yet in this group.
    - if @group.member?(current_user)
      %center
        %a.btn.btn-primary.btn-lg{:href => new_conversation_path(organization: @organization.id)}
          Start a Conversation
- else
  .ap-top-space.list-group
    - conversations.each do |conversation|
      %a.list-group-item{:href => conversation_path(conversation), :class => ("list-group-item-info" if current_user.has_notification?(conversation: conversation))}
        = render partial: "conversations/header", locals: {conversation: conversation, preview: true}
