.list-group
  - conversations.each do |conversation|
    %a.list-group-item{:href => conversation_path(conversation), :class => ("list-group-item-info" if has_notification?(conversation, user))}
      = render partial: "conversations/header", locals: {conversation: conversation}
      %p.list-group-item-text
        #{conversation.messages[0].body[0..50]} #{"..." if conversation.messages[0].body.length > 50 }
