.list-group-item
  %ul.list-unstyled
    %li
      %p
        = simple_format(message.body)
    %li
      %small
        %a{:href => user_path(message.user)}
          #{message.user.email}
        posted on #{l message.created_at, format: :short}
    - if message.user == current_user || message.conversation.group.organization.admin?(current_user)
      %li
      %button.btn.btn-default.btn-xs.a-delete-post{:type => "submit", :title => "Delete Post", :data => {toggle: "tooltip", container: 'body', id: message.id, conversation: message.conversation.id} }
        %i.fa.fa-trash-o
        Delete Post
