.row
  .col-md-offset-1.col-md-10
    %h2
      %a{:href => organization_path(@organization)}
        = @organization.name
    .list-group-item
      = render partial: "conversations/header", locals: {conversation: @conversation}
    .messages
      - @conversation.messages.each do |message|
        = render partial: "conversations/message", locals: {message: message}
    .list-group-item
      %p.list-group-item-text
        %textarea.form-control.no-resize{:id => "message", :placeholder => "Type your message here...", :rows => "5"}
    .list-group-item
      %button.center-block.btn.btn-primary.a-post-message{:type => "button", :data => {conversation: @conversation.id}}
        Post Message
