%nav.ap-navbar.ap-navbar-default.ap-navbar-fixed-top{:role => "navigation"}
  .container
    .ap-navbar-header
      %a.ap-navbar-brand{:href => root_path(), :title => "Home Page", :data => {toggle: "tooltip", placement: "bottom", container: 'body'}}
        aperio
    - if current_user
      %ul.ap-nav.ap-navbar-nav.ap-navbar-right
        %li
          %a{:href => user_path(current_user, tab: "timeline"), :title => current_user.email, :data => {toggle: "tooltip", placement: "bottom"}}
            %i.fa.fa-lg.fa-user
            = render partial: "shared/badge", locals: {count: current_user.notification_count}
        %li
          %a{:href => "#", :title => "Organizations", :data => {toggle: "offcanvas", target: "#inbox-orgs", tooltip: "tooltip", placement: "bottom"}}
            %i.fa.fa-lg.fa-bank
            = render partial: "shared/badge", locals: {count: current_user.notification_count(type: :conversation)}
        %li
          %a.ap-logout{:href => "#", :title => "Sign out", :data => {toggle: "tooltip", placement: "bottom", container: 'body'}}
            %i.fa.fa-lg.fa-sign-out
    - else
      %ul.ap-nav.ap-navbar-nav.ap-navbar-right
        %li
          %a{:href => new_user_path(), :title => "Sign in", :data => {toggle: "tooltip", placement: "bottom", container: 'body'}}
            %i.fa.fa-lg.fa-sign-in
  - if current_user
    #inbox-orgs.row.row-offcanvas.row-offcanvas-right
      .sidebar-offcanvas
        .list-group
          - if current_user.organizations.empty?
            %a.list-group-item{:href => organizations_path()}
              No organizations. Find one...
          - else
            - current_user.organizations.each do |organization|
              %a.list-group-item{:href => organization_path(organization)}
                = render partial: "shared/badge", locals: {count: current_user.notification_count(type: :conversation, organization: organization)}
                #{organization.name}
