.row.ap-top-space
  .col-md-12
    .jumbotron
      %center
        %h1
          a·pe·rio
        %p
          (verb) to open, disclose
        %p
          (noun) visible, transparent
        %p
          Run your organization transparently
        %p
          Engage meaningfully with your members
        %p
          Increase productivity and reach of your organization
        %p
          Be accessible anytime, anywhere: mobile, web, tablet, ...

.row
  .col-md-offset-2.col-md-4.col-xs-12.ap-vertical-space
    %a.btn.btn-primary.btn-block.btn-lg{:href => new_organization_path()}
      Join Aperio
  .col-md-4.col-xs-12.ap-vertical-space
    %a.btn.btn-primary.btn-block.btn-lg{:href => organizations_path()}
      Browse organizations on Aperio
.row
  .col-md-offset-4.col-md-4.col-xs-12.ap-vertical-space
    %a.btn.btn-primary.btn-block.btn-lg{:href => about_path()}
      About Aperio
