.row
  .col-md-offset-2.col-md-8
    .jumbotron
      %h1
        aperio:
        %small
          (v)to open or disclose; (n)visible, transparent
      %p.indent-left
        Engage meaningfully with your volunteers
      %p.indent-left
        Increase productivity and reach of your organization
      %p.indent-left
        Find other individuals or organizations that are doing something about the causes that you believe in
      %p.indent-left
        %a.btn.btn-primary.btn-lg{:href => organizations_path()}
          Discover the organizations on aperio
        %a.btn.btn-primary.btn-lg{:href => new_organization_path()}
          Put your Non Profit on aperio
