// Place all the styles related to the Global controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  padding-top: 50px;
}

.ap-horizontal-space {
  padding-right: 5px;
  padding-left: 5px;
}

.a-hide-overflow {
  overflow: hidden;
  text-overflow:ellipsis;
}

.a-corner-action {
  margin-left: 10px;
}

.list-group-item .badge {
  float: none;
}

.label-list > li {
  padding-right: 0;
  padding-left: 0;
}

.ap-top-space {
  padding-top: 10px;
}

.jumbotron {
  padding: 10px;
  margin-bottom: 10px;
}

.ap-advertise {
  font-size: 16px;
}

.ap-advertise-header {
  margin-top: 5px;
  margin-bottom: 5px;
}

.ap-advertise-icon {
  margin: 5px;
}
