// Place all the styles related to the organizations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.label {
  margin: 0 4px;
}

.ap-org-summary:hover {
  background-color: #eee;
  cursor: pointer;
}
