// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pane {
  padding-top: 20px;
}

.pane-frame {
  border: 1px solid #ddd;
  border-top-color: transparent;
}

.muted-link {
  color: #555;
}
