// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pane {
  padding-top: 20px;
}

.muted-link {
  color: #555;
}

.ap-user-profile-action {
  height: 100px;
  width: 100px;
}
