.row
  - @organizations.each_slice(@organizations.count / 4) do |organizations_group|
    .col-md-3
      - organizations_group.each do |organization|
        = render partial: "organizations/summary", locals: { organization: organization }
